<html>
<title>Modern Art 测试版</title>

<body>
<div  align="center" >
<p>{{id}}登陆 Modern Art</p>
<form action="/service/login/" method="post" id="returningcustomersForm" name="returningcustomersForm" >
<table>
<tr>
<td>
    <label for="rcEmail" id="rcEmail_highlight">输入您的账号:</label>  <input id="rcAccount" name="account" value="" />
</td>
</tr>
<tr>

<td> 
    <DIV id="rcButtonContainer">
        <input id="rcSubmit" name="rcSubmit" value="开始游戏" alt="Sign in to secure server" type="submit" />
    </DIV>
</td>
 </tr>

</table>
</form>

</div>

</body>
</html>